services:
  db:
    image: postgres:15
    container_name: project_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - project_db_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: project_app
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  project_db_data:
